
nav {
    display: flex;
    justify-content: space-between;
    align-items: right;
    background-color:rgb(14, 14, 14);
    height: 90px;
    color: rgb(163, 2, 2);
    padding: 5px 10px;
  }
  nav h1{
    color: azure;
  }
  nav ul {
    display: flex;
    gap: 10px;
    margin:25px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
  }
  
  nav a:hover {
    background-color: #555;
  }
  
nav button {
    display: inline-block;
    background-color: #333; 
    color: white;
    text-decoration: none; 
    border-radius: 8px; 
    font-weight: bold; 
    font-size: 18px;
    transition: background-color 0.3s ease; 
    cursor: pointer; 
  }
  
  nav button:hover {
    background-color: #555; 
  }
  